<tr>
  <td class="pl-4"><%= index %></td>
  <td>
      <h5 class="font-medium mb-0"><%= user.username %></h5>
  </td>
  <td>
      <span class="text-muted"><%= user.email %></span><br>
      <span class="text-muted"><%= user.phone_number %></span>
  </td>
  <td>
      <span class="text-muted"><%= user.created_at.to_date %></span><br>
      <span class="text-muted"><%= user.created_at.strftime("%I:%M%p") %></span>
  </td>
  <td>
    <select class="form-control category-select" id="exampleFormControlSelect1">
      <option>Admin</option>
      <option>User</option>
    </select>
  </td>
  <td>
    <button type="button" class="btn btn-outline-secondary ml-2">
      <i class="fa fa-edit"></i> 
    </button>
    <% if user.id != current_user.id %>
      <%= link_to admin_user_path(user.id), class: "btn btn-outline-danger ml-2", 
                                            method: :delete, 
                                            data: { confirm: "You sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </td>
</tr>
